.gameModal {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: "Montserrat";
  background: #f8f8f8;
}

body a, html a {
  text-decoration: none;
  color: #1d1d1d;
}

nav {
  background: #fff;
  padding: 1em;
}

nav .logo {
  margin: 0px 25px;
  font-weight: bold;
}

nav ul {
  float: right;
  display: inline-block;
  font-size: 13px;
}

nav ul li {
  margin: 0 25px;
  display: inline-block;
  list-style-type: none;
}

#banner {
  padding: 4em 1em;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#banner h1 {
  margin: 15px 25px 0px 25px;
  font-weight: 400;
}

#banner button {
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  border: none;
  background: #000;
  margin: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#banner button:hover {
  background: #000;
  border: none;
}

#game-section {
  padding: 4em 1em;
  text-align: center;
  background-image: url(../images/pattern.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: calc(100% - (2em + 25px)) 4em;
}

#game-section h3 {
  font-size: 14px;
  font-weight: 400;
}

#game-section .games {
  text-align: center;
  padding: 1em;
  margin: 15px 25px;
}

footer {
  background: #fff;
  padding: 1em 2em;
}

footer span#copyright {
  margin: 0px 15px;
  font-weight: 400;
  font-size: 12px;
  color: #1d1d1d;
}

footer span#social {
  float: right;
  margin: 0px 15px;
}

footer span#social a {
  margin: 0 0px 0px 25px;
}

footer span#social img {
  width: 25px;
  height: 25px;
}

.gameModal {
  position: absolute;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 2em);
  top: 3em;
  overflow: hidden;
  /* All good till now. Now we'll style the background */
  /* Now the value part */
  /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */
}

.gameModal #game2score {
  float: left;
  font-weight: bold;
}

.gameModal progress {
  width: 100%;
  height: 14px;
  position: relative;
  bottom: 10px;
  -webkit-appearance: none;
  border: none;
}

.gameModal progress::-webkit-progress-bar {
  background: none;
  border-radius: 33px;
  padding: 2px;
}

.gameModal progress::-webkit-progress-value {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #2196f3, #2196f3);
  /* Looks great, now animating it */
  background-size: 25px 14px, 100% 100%, 100% 100%;
  -webkit-animation: move 5s linear 0 infinite;
}

@-webkit-keyframes move {
  0% {
    background-position: 0px 0px, 0 0, 0 0;
  }
  100% {
    background-position: -100px 0px, 0 0, 0 0;
  }
}

.gameModal .close-btn {
  position: absolute;
  background: #2196f3;
  right: calc(2em + 10px);
  padding: 2px 50px;
  top: 1em;
  color: #fff;
  border-radius: 12px;
}

.gameModal .gameHeader {
  background: #040404;
  padding: 5em calc(2em + 10px);
  color: #fff;
}

.gameModal .gameHeader h3 {
  font-weight: 400;
}

.gameModal .gameContent {
  min-height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: calc(2em + 15px);
  text-align: center;
}

.gameModal .gameContent canvas {
  background: #fff;
  border: 1px solid #eee;
  padding: 3px;
  border-radius: 8px;
}

.gameModal .gameContent .buttonvariante {
  color: #fff;
  margin-top: 10em;
  padding: 1em 2em;
  border-radius: 33px;
  background: #2196f3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.gameModal .gameContent .buttonvariante:hover {
  background: #1c7dca;
}

.gameModal .gameContent #restart {
  padding: 1em 4em;
  margin-top: 4em;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 33px;
  z-index: 9999;
}

.gameModal .gameContent .userInput {
  display: initial;
  border: none;
  background: #fff;
  font-weight: bold;
  padding: 1em 6em;
  margin-top: 8em;
  text-align: center;
  border-radius: 33px;
}

.gameModal .gameContent .liveDiv {
  float: right;
  width: 100%;
  margin-bottom: 4em;
  text-align: right;
}

.gameModal .gameContent .lives {
  width: 30px;
  margin: 0px 5px;
}

.close {
  display: none;
}

.fadein {
  webkit-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 640px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.container h3 {
  font-size: 14px;
  font-weight: 400;
  background: #2196f3;
  border-radius: 33px;
  color: #fff;
  padding: 4px 2px;
}

.container .item {
  display: -ms-grid;
  display: grid;
  margin: auto;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: white;
  border-left: 2px solid #f8f8f8;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  max-width: 20%;
  height: 33vh;
  min-width: 10%;
  background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 640px) {
  .container .item {
    min-width: 100%;
    width: 100%;
  }
}

.container .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: cover;
  z-index: -1;
}

.container .item:nth-of-type(1) {
  border-left: none;
}

.container .item:nth-of-type(1):before {
  background-image: url("../images/game0.jpg");
  opacity: 0.9;
  border-radius: 10px 0px 0px 10px;
}

.container .item:nth-of-type(2):before {
  background-image: url("../images/game1.jpg");
  opacity: 0.9;
}

.container .item:nth-of-type(3):before {
  background-image: url("../images/game2.jpg");
  opacity: 0.9;
}

.container .item:nth-of-type(4):before {
  background-image: url("../images/game3.jpg");
  opacity: 0.9;
}

.container .item:nth-of-type(5):before {
  background-image: url("../images/game4.jpg");
  opacity: 0.9;
  border-radius: 0px 10px 10px 0px;
}

.container .item:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.container .item:nth-child(5) {
  border-radius: 0px 10px 10px 0px;
}

.container .item:hover {
  -webkit-transition: .5s;
  transition: .5s;
  max-width: 40% !important;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
}

.container .item:hover p, .container .item:hover a svg {
  display: inherit;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
  font-weight: 400;
}

.container .item:hover p {
  min-height: 80%;
}

@media only screen and (max-width: 640px) {
  .container .item:hover p {
    min-height: 30%;
  }
}

.container a svg {
  fill: #2196f3;
  margin: 0px 25px;
  width: 50px;
}

.container .content {
  margin: 25px;
  font-size: 2em;
}

.container p, .container a svg {
  display: none;
  -webkit-transform: translateY(120vh);
          transform: translateY(120vh);
}

.start > .before, .start > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.start > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 60px 28.33333px #73ff00, 87px -61.66667px #9100ff, 87px -302.66667px #ff00ae, 47px -43.66667px #bb00ff, 54px -384.66667px #ff00d9, 40px -348.66667px #ff4000, -162px -20.66667px #002bff, 31px -403.66667px #ffa200, 157px -48.66667px #ff004d, 60px -250.66667px #ff3300, 177px 55.33333px #00ff66, -72px -137.66667px #00ff91, -84px -255.66667px #ff00c8, -202px 79.33333px #00c8ff, 134px -135.66667px #00ff88, 64px 62.33333px #1eff00, -173px 15.33333px #9100ff, -205px -316.66667px #ff5e00, 43px 15.33333px #00ff0d, 185px -300.66667px #e6ff00, 117px 35.33333px #002bff, 2px -156.66667px #ff2200, 236px -110.66667px #ff2600, -11px -359.66667px #aa00ff, 238px -362.66667px #00ff95, 56px -378.66667px #40ff00, 21px -247.66667px #ff0037, 155px -258.66667px #ff00b7, -213px -215.66667px #00ff88, -104px -158.66667px #ff7700, 17px -44.66667px #ff0051, 79px -193.66667px #4800ff, 85px 35.33333px #3cff00, 176px -86.66667px #5500ff, 1px -47.66667px #ff9d00, 141px -167.66667px #00ff55, 227px -183.66667px #ddff00, 236px -114.66667px #22ff00, -87px -283.66667px #ffbb00, -189px -378.66667px #ff001e, -33px -143.66667px #8800ff, 121px -384.66667px #ff00f2, 165px -4.66667px #00ff95, -97px -391.66667px #f7ff00, -5px -200.66667px #6600ff, 88px -276.66667px #f7ff00, 242px -220.66667px #00ff1a, -232px 24.33333px #7700ff, 70px -37.66667px #5eff00, 46px -377.66667px #00ff80, -229px -235.66667px #0040ff;
            box-shadow: 60px 28.33333px #73ff00, 87px -61.66667px #9100ff, 87px -302.66667px #ff00ae, 47px -43.66667px #bb00ff, 54px -384.66667px #ff00d9, 40px -348.66667px #ff4000, -162px -20.66667px #002bff, 31px -403.66667px #ffa200, 157px -48.66667px #ff004d, 60px -250.66667px #ff3300, 177px 55.33333px #00ff66, -72px -137.66667px #00ff91, -84px -255.66667px #ff00c8, -202px 79.33333px #00c8ff, 134px -135.66667px #00ff88, 64px 62.33333px #1eff00, -173px 15.33333px #9100ff, -205px -316.66667px #ff5e00, 43px 15.33333px #00ff0d, 185px -300.66667px #e6ff00, 117px 35.33333px #002bff, 2px -156.66667px #ff2200, 236px -110.66667px #ff2600, -11px -359.66667px #aa00ff, 238px -362.66667px #00ff95, 56px -378.66667px #40ff00, 21px -247.66667px #ff0037, 155px -258.66667px #ff00b7, -213px -215.66667px #00ff88, -104px -158.66667px #ff7700, 17px -44.66667px #ff0051, 79px -193.66667px #4800ff, 85px 35.33333px #3cff00, 176px -86.66667px #5500ff, 1px -47.66667px #ff9d00, 141px -167.66667px #00ff55, 227px -183.66667px #ddff00, 236px -114.66667px #22ff00, -87px -283.66667px #ffbb00, -189px -378.66667px #ff001e, -33px -143.66667px #8800ff, 121px -384.66667px #ff00f2, 165px -4.66667px #00ff95, -97px -391.66667px #f7ff00, -5px -200.66667px #6600ff, 88px -276.66667px #f7ff00, 242px -220.66667px #00ff1a, -232px 24.33333px #7700ff, 70px -37.66667px #5eff00, 46px -377.66667px #00ff80, -229px -235.66667px #0040ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 60px 28.33333px #73ff00, 87px -61.66667px #9100ff, 87px -302.66667px #ff00ae, 47px -43.66667px #bb00ff, 54px -384.66667px #ff00d9, 40px -348.66667px #ff4000, -162px -20.66667px #002bff, 31px -403.66667px #ffa200, 157px -48.66667px #ff004d, 60px -250.66667px #ff3300, 177px 55.33333px #00ff66, -72px -137.66667px #00ff91, -84px -255.66667px #ff00c8, -202px 79.33333px #00c8ff, 134px -135.66667px #00ff88, 64px 62.33333px #1eff00, -173px 15.33333px #9100ff, -205px -316.66667px #ff5e00, 43px 15.33333px #00ff0d, 185px -300.66667px #e6ff00, 117px 35.33333px #002bff, 2px -156.66667px #ff2200, 236px -110.66667px #ff2600, -11px -359.66667px #aa00ff, 238px -362.66667px #00ff95, 56px -378.66667px #40ff00, 21px -247.66667px #ff0037, 155px -258.66667px #ff00b7, -213px -215.66667px #00ff88, -104px -158.66667px #ff7700, 17px -44.66667px #ff0051, 79px -193.66667px #4800ff, 85px 35.33333px #3cff00, 176px -86.66667px #5500ff, 1px -47.66667px #ff9d00, 141px -167.66667px #00ff55, 227px -183.66667px #ddff00, 236px -114.66667px #22ff00, -87px -283.66667px #ffbb00, -189px -378.66667px #ff001e, -33px -143.66667px #8800ff, 121px -384.66667px #ff00f2, 165px -4.66667px #00ff95, -97px -391.66667px #f7ff00, -5px -200.66667px #6600ff, 88px -276.66667px #f7ff00, 242px -220.66667px #00ff1a, -232px 24.33333px #7700ff, 70px -37.66667px #5eff00, 46px -377.66667px #00ff80, -229px -235.66667px #0040ff;
            box-shadow: 60px 28.33333px #73ff00, 87px -61.66667px #9100ff, 87px -302.66667px #ff00ae, 47px -43.66667px #bb00ff, 54px -384.66667px #ff00d9, 40px -348.66667px #ff4000, -162px -20.66667px #002bff, 31px -403.66667px #ffa200, 157px -48.66667px #ff004d, 60px -250.66667px #ff3300, 177px 55.33333px #00ff66, -72px -137.66667px #00ff91, -84px -255.66667px #ff00c8, -202px 79.33333px #00c8ff, 134px -135.66667px #00ff88, 64px 62.33333px #1eff00, -173px 15.33333px #9100ff, -205px -316.66667px #ff5e00, 43px 15.33333px #00ff0d, 185px -300.66667px #e6ff00, 117px 35.33333px #002bff, 2px -156.66667px #ff2200, 236px -110.66667px #ff2600, -11px -359.66667px #aa00ff, 238px -362.66667px #00ff95, 56px -378.66667px #40ff00, 21px -247.66667px #ff0037, 155px -258.66667px #ff00b7, -213px -215.66667px #00ff88, -104px -158.66667px #ff7700, 17px -44.66667px #ff0051, 79px -193.66667px #4800ff, 85px 35.33333px #3cff00, 176px -86.66667px #5500ff, 1px -47.66667px #ff9d00, 141px -167.66667px #00ff55, 227px -183.66667px #ddff00, 236px -114.66667px #22ff00, -87px -283.66667px #ffbb00, -189px -378.66667px #ff001e, -33px -143.66667px #8800ff, 121px -384.66667px #ff00f2, 165px -4.66667px #00ff95, -97px -391.66667px #f7ff00, -5px -200.66667px #6600ff, 88px -276.66667px #f7ff00, 242px -220.66667px #00ff1a, -232px 24.33333px #7700ff, 70px -37.66667px #5eff00, 46px -377.66667px #00ff80, -229px -235.66667px #0040ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=main.css.map */